<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Blog</title>
    <style>
      pre {
        white-space: pre-wrap; /* Allows text to wrap */
        word-wrap: break-word; /* Breaks long words */
        overflow-x: auto; /* Adds a horizontal scrollbar if needed */
        margin-top: 10px;
      }
      .red-line {
        border: 0;
        height: 2px; /* Adjust the thickness as needed */
        background-color: gray; /* Color of the line */
      }
    </style>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container mt-4" style="background-color: rgb(214, 209, 209); border-radius: 15px;">
      <h1 style="padding: 10px 0;"><%= blog.title %></h1>
      <img src="<%= blog.coverImage %>" width="600px" style="border-radius: 10px;" />
      <pre><%= blog.body %></pre>
    </div>
    <div class="container mt-2" style="padding: 5px">
      <!-- <img src="<%= blog.createdBy.profileImage  %>" width="40px" /> <%=
      blog.createdBy.fullname %>
    </div> -->

    <div style="background-color: rgb(218, 212, 212); padding: 5px 10px;  border-radius: 15px; margin-bottom: 10px; display: flex; gap: 10px; align-items: center;">
      <img src="<%= blog.createdBy.profileImage  %>" width="50px" height="50px" />

      <div style="display: flex; flex-direction: column;">
        <h6 style="padding: 5px 0 0 0; margin: 0; margin-left: 2px;">Created By</h6>
        <span style="margin: 0; padding: 0;"><%= "@" + blog.createdBy.fullname %></span>
      </div>
      
    </div>

    <div class="container mt-3">

      <!-- comment section -->
      <% if (locals.user) { %>
        <h3>Leave a comment</h3>
      <% } else { %>
        <h3>Sign in to comment</h3>
      <% } %>

      <% if (locals.user) { %>
      <form action="/blog/comment/<%= blog._id %>" method="post">
        <div class="mb-3">
          <input
            type="text"
            name="content"
            placeholder="Enter your comments"
            class="form-control"
          />
          <button type="submit" class="btn btn-info mt-2">Submit</button>
        </div>
        <h4>Comments (<%= comments.length %>)</h4> 
      </form>
      <% } %>

      <hr class="red-line" />


      <div class="container mt-4">
        <% comments.forEach(comment => { %>
        <div style="background-color: rgb(218, 212, 212); padding: 5px 10px;  border-radius: 15px; margin-bottom: 10px; display: flex; gap: 5px; align-items: center;">
          <img src="<%= comment.createdBy.profileImage  %>" width="50px" height="50px" />
          <div style="display: flex; flex-direction: column;">
            <%= "@" + comment.createdBy.fullname %>
            <h6 style="margin-left: 5px;"><%= comment.content %></h6>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include("./partials/script") %>
  </body>
</html>
